# macOS
.DS_Store
._*

# PyCharm
*.iml
.idea/
.venv/
.pytest_cache/
__pycache__/
*.egg-info/
.coverage
dist/

# Jupyter
.ipynb_checkpoints/

# personal student information
assignments/hw2/class_entities.json
# census API key
assignments/hw4/.env
assignments/proj3/.env
